{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .transparent-bg {
        background-image: url("{% static 'Categories/dance.jpeg' %}");
        background-size: cover;
        width: 96%;
        height:88vh;
        background-position: center;
    }

    .row,.title{
        margin-top: 40px;
        justify-content: space-between;
    }
    
    .badge,.review{
        font-size: 16px;
    }

    span, .stars, .price{
        color: #eb1d4b;
    }

    .place{
        color: #454545;
        font-size: 15px;
        margin: -8px 0px;
    }

    .btn{
        margin-top: -7px;
    }

    @media(max-width: 1150px) {
        .transparent-bg {
            height: 50vh;
        }

        .row{
            justify-content: space-around;
        }

    }

    @media(max-width: 550px) {
        .transparent-bg {
            height: 40vh;
        }

        h3{
            font-size: 22px;
        }

        .description,.badge,.review,.btn{
            font-size: 14px;
        }

        h4,.card-title,.price{
            font-size: 18px;
        }

        p,h6{
            font-size: 14px;
        }
        
    }

</style>

<div class="container-fluid transparent-bg"></div>

<div class="container">
    <h3 class="title">Best Choreographers</h3>
    <h6 class="description my-3 text-secondary">See list of Best Wedding Dance and Sangeet Choreographers for Sangeet Couple Performance, Family Dance Performance. See Phone Number, Dance Videos of Wedding Dance Choreographers in all Indian Cities on HappyWedding.</h6>
    <div class="row">
        {% for i in cho %}
            <div class="event-card">
                <div class="card">
                    <img src="{{i.img.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}} <span class="badge bg-danger position-absolute end-0 me-2">{{i.rate}}</span></h5>
                        <p class="stars fs-5">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="review text-secondary position-absolute end-0 me-2"> ({{i.review}} reviews)</span></p>
                        <p class="place"><i class="fa-solid fa-location-dot"></i> {{i.place}}</p>
                        <h5 class="card-text price mt-3">₹{{i.price}}<a href="{% url 'cho' %}" class="btn bg-danger text-light position-absolute end-0 me-2">View Deal</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mb-5">
    <h3 class="text-center">Best Choreographers</h3>
    <p class="my-4">Indian weddings aren't complete without some grooving! Find the best choreographers in all Indian cities listed below. Browse through their work samples and reviews on their pages. Both premium and budget choreographers on the website who will help you with all styles of dancing.</p>

    <h4>Find Wedding Choreographers @ Happy Wedding</h4>
    <p class="my-4">Weddings in the early days were a very serious affair with rigid rituals, <span>songs to melt hearts</span>, and emotional outbursts. They still are, but with a more relaxed atmosphere where families enjoy every ritual with music and dance. This is reflected most in the Sangeet ceremony where all the close relatives and friends give dance performances. It is the Sangeet ceremony that adds glamour and spice to the weddings.</p>

    <h4>Types of Wedding Dance Performances</h4>
    <p class="my-4"> <span>Couple Dances</span> - These are most anticipated dance performances by couples in the family-like chacha-Chachi, bhaiya- bhabhi, and bua fufa, and didi-jiju. The need to be choreographed in such a way that it brings out the shy emotions of the couple considering their comfort level while dancing.</p>
    <p class="my-4"> <span>Family dance</span> - parents, siblings, best friends - all are a part of the story and together they can weave a magical tale for the guests. They can be made to dance on specific and appropriate songs with the couple and create a story too. It is a beautiful way to expressing their love and affection for each other and for the couple.</p>
    <p class="my-4"> <span>Solo dance</span> - The most awaited dance of the evening in which the bride and the groom perform individually or as a couple or both to exhibit their happiness and love for each other.</p>
    
    <h4 class="mb-4">Other Wedding Services We Provide</h4>
    <h6><span>Wedding Photographers:</span> Capture the event without missing any precious moment.</h6>
    <h6><span>Bridal Designers:</span>  Design your trousseau as per the latest fashion trends.</h6>
    <h6><span>Choreographers:</span> Learn some new moves for your wedding.</h6>
    <h6><span>Wedding Videographers:</span> Today wedding videos beat Bollywood movies.</h6>
    <h6><span>Mehndi Artists:</span> What's a bride without some gorgeous mehendi?</h6>
    <h6><span>Wedding Decorators:</span> Choose modern or traditional, let every corner look fabulous.</h6>
    <h6><span>Wedding Invitations:</span> The invitation for the big day has to be special.</h6>
    <h6><span>Wedding Planners:</span> Leave the planning to the experts in the field.</h6>
    <h6><span>Wedding Venues:</span> Choose the venue that best suits you.</h6>
</div>

{% endblock %}