{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .transparent-bg {
        background-image: url("{% static 'Categories/djs.jpeg' %}");
        background-size: cover;
        width: 96%;
        height:88vh;
        background-position: center;
    }

    .row,.title{
        margin-top: 40px;
        justify-content: space-between;
    }
    
    .badge,.review{
        font-size: 16px;
    }

    span, .stars, .price{
        color: #eb1d4b;
    }

    .place{
        color: #454545;
        font-size: 15px;
        margin: -8px 0px;
    }

    .btn{
        margin-top: -7px;
    }

    @media(max-width: 1150px) {
        .transparent-bg {
            height: 50vh;
        }

        .row{
            justify-content: space-around;
        }

    }

    @media(max-width: 550px) {
        .transparent-bg {
            height: 40vh;
        }

        h3{
            font-size: 22px;
        }

        .description,.badge,.review,.btn{
            font-size: 14px;
        }

        h4,.card-title,.price{
            font-size: 18px;
        }

        p,h6{
            font-size: 14px;
        }
        
    }


</style>

<div class="container-fluid transparent-bg"></div>

<div class="container">
    <h3 class="title">Find Best DJ</h3>
    <h6 class="description my-3 text-secondary">Find Best DJ for Wedding, Sangeet, Mehndi with Best Price, Reviews and Contact Details.</h6>
    <div class="row">
        {% for i in djs %}
            <div class="event-card">
                <div class="card">
                    <img src="{{i.img.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}} <span class="badge bg-danger position-absolute end-0 me-2">{{i.rate}}</span></h5>
                        <p class="stars fs-5">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="review text-secondary position-absolute end-0 me-2"> ({{i.review}} reviews)</span></p>
                        <p class="place"><i class="fa-solid fa-location-dot"></i> {{i.place}}</p>
                        <h5 class="card-text price mt-3">₹{{i.price}}<a href="{% url 'dj' %}" class="btn bg-danger text-light position-absolute end-0 me-2">View Deal</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mb-5">
    <h3 class="text-center">Find Best DJ Events</h3>
    <p class="my-4">Weddings in India are the greatest celebration! And, music has been a part of this celebration ever since the wedding. While earlier it was only the family members and wedding guests singing and dancing at weddings, professional DJs completely changed the scene. Today, to create a memorable, beautiful and musical wedding, hiring a DJ is a must. Confused about which one to hire? Let us help! Read further to know all about choosing the best DJ for weddings.</p>

    <h4>Qualities of A Good Wedding DJ</h4>
    <p class="my-4">We are all for a fun wedding party. Hiring the right DJ for your wedding for it to be an unforgettable event is essential. But, what exactly is a good DJ? What qualities does he/she possess? We are gonna help you with that! Go through this list of qualities that make a DJ the best DJ for weddings.</p>
    <p class="my-4"> <span>DJ Must Be a Good Listener</span> - A good wedding DJ will pay attention to your wants and needs. He recognises that this is one of the most precious days of your life and that you have put your faith in him/her to make it perfect. If the DJ doesn't understand something you want, he should ask questions until he understands exactly what you want and how to make it happen.</p>
    <p class="my-4"> <span>A Good DJ Engages With The Audience</span> - Your DJ will almost certainly be required to provide more than just wedding music; he will also need to be an excellent master of ceremonies. This involves involving the wedding guests in the official announcements and ensuring he correctly pronounces the names of everyone in the bridal party. A skilled wedding DJ is also in control of the reception's timing and flow, ensuring that everything runs well.</p>
    
    <h4 class="mb-4">Other Wedding Services We Provide</h4>
    <h6><span>Wedding Photographers:</span> Capture the event without missing any precious moment.</h6>
    <h6><span>Bridal Designers:</span>  Design your trousseau as per the latest fashion trends.</h6>
    <h6><span>Choreographers:</span> Learn some new moves for your wedding.</h6>
    <h6><span>Wedding Videographers:</span> Today wedding videos beat Bollywood movies.</h6>
    <h6><span>Mehndi Artists:</span> What's a bride without some gorgeous mehendi?</h6>
    <h6><span>Wedding Decorators:</span> Choose modern or traditional, let every corner look fabulous.</h6>
    <h6><span>Wedding Invitations:</span> The invitation for the big day has to be special.</h6>
    <h6><span>Wedding Planners:</span> Leave the planning to the experts in the field.</h6>
    <h6><span>Wedding Venues:</span> Choose the venue that best suits you.</h6>
</div>

{% endblock %}