{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .transparent-bg {
        background-image: url("{% static 'Categories/jewellery.jpeg' %}");
        background-size: cover;
        width: 96%;
        height:88vh;
        background-position: bottom;
    }

    .row,.title{
        margin-top: 40px;
        justify-content: space-between;
    }
    
    .badge,.review{
        font-size: 16px;
    }

    span, .stars, .price{
        color: #eb1d4b;
    }

    .place{
        color: #454545;
        font-size: 15px;
        margin: -8px 0px;
    }

    .btn{
        margin-top: -7px;
    }

    @media(max-width: 1150px) {
        .transparent-bg {
            height: 50vh;
        }

        .row{
            justify-content: space-around;
        }

    }

    @media(max-width: 550px) {
        .transparent-bg {
            height: 40vh;
        }

        h3{
            font-size: 22px;
        }

        .description,.badge,.review,.btn{
            font-size: 14px;
        }

        h4,.card-title,.price{
            font-size: 18px;
        }

        p,h6{
            font-size: 14px;
        }
        
    }

</style>

<div class="container-fluid transparent-bg"></div>

<div class="container">
    <h3 class="title">Best Wedding Jewellers</h3>
    <h6 class="description my-3 text-secondary">Searching for Best Wedding Jewellers? here are the List of Top Wedding Jewellers with Cost, Reviews, info and Contact Details.</h6>
    <div class="row">
        {% for i in jew %}
            <div class="event-card">
                <div class="card">
                    <img src="{{i.img.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}} <span class="badge bg-danger position-absolute end-0 me-2">{{i.rate}}</span></h5>
                        <p class="stars fs-5">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="review text-secondary position-absolute end-0 me-2"> ({{i.review}} reviews)</span></p>
                        <p class="place"><i class="fa-solid fa-location-dot"></i> {{i.place}}</p>
                        <h5 class="card-text price mt-3">{{i.price}}<a href="{% url 'jew' %}" class="btn bg-danger text-light position-absolute end-0 me-2">View Deal</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mb-5">
    <h3 class="text-center">Best Wedding Jewellers</h3>
    <p class="my-4">Stick here as we have a list of the best wedding jewellers that you can indeed check out. There is a very famous saying of famous fashion designer Diane von Furstenburg - Jewellery is like the perfect spice, it always compliments what's already there. In our Indian traditions, women are considered incomplete without jewellery, especially on occasions like weddings. We, Indians, give very much importance to accessorising ourselves with some exquisite jewellery pieces.</p>

    <h4>You can take help of Happy Wedding</h4>
    <p class="my-4">Before buying any piece of jewellery, always ask for its purity. The purity of gold can be assumed by carats. The price of 24k gold and 18k gold is different. <span>24-carat gold is 99.9% pure gold</span>, and the cost of pure gold is more than the gold with 22k, 18k, 14k, or 10k. So, check the purity first and then pay. Check the weight of gold content only, as a jewellery might have some stones used in it, which can increase the overall weight of the jewellery. </p>

    <h4> types of wedding jewellery with their cost</h4>
    <p class="my-4"> <span>Kundan jewellery</span> - Kundan jewellery is one of the oldest forms of jewellery, and it is still in trend. The word “Kundan” means pure 24k gold. This art originated from Rajasthan, where it was used, and now, it is demanded by brides from all over the country due to its graceful and elegant design.</p>
    <p class="my-4"> <span>Gold jewellery</span> - Gold is a soft metal used to make Indian traditional jewellery, and gold jewellery can be easily seen in weddings, even no marriage is complete with gold. The 24-carat gold is the purest form of gold. However, 18k, 14k, and 10k gold have some proportion of copper, nickel, or other metal alloys. Mixing other alloys makes the gold harder and more durable.</p>
    <p class="my-4"> <span>Pearl</span> - Pearl necklaces and chokers are famous pearl jewellery that every woman loves to wear to bring class and elegance to her look. These pearls are a type of precious gemstone collected from the seas and then converted into beautiful jewelleries. The cost of natural pearls can be up to 15,000 to 50,000 INR for one carat.</p>
    
    <h4 class="mb-4">Other Wedding Services We Provide</h4>
    <h6><span>Wedding Photographers:</span> Capture the event without missing any precious moment.</h6>
    <h6><span>Bridal Designers:</span>  Design your trousseau as per the latest fashion trends.</h6>
    <h6><span>Choreographers:</span> Learn some new moves for your wedding.</h6>
    <h6><span>Wedding Videographers:</span> Today wedding videos beat Bollywood movies.</h6>
    <h6><span>Mehndi Artists:</span> What's a bride without some gorgeous mehendi?</h6>
    <h6><span>Wedding Decorators:</span> Choose modern or traditional, let every corner look fabulous.</h6>
    <h6><span>Wedding Invitations:</span> The invitation for the big day has to be special.</h6>
    <h6><span>Wedding Planners:</span> Leave the planning to the experts in the field.</h6>
    <h6><span>Wedding Venues:</span> Choose the venue that best suits you.</h6>
</div>

{% endblock %}