{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .transparent-bg {
        background-image: url("{% static 'Categories/makeup.jpeg' %}");
        background-size: cover;
        width: 96%;
        height:88vh;
        background-position: center;
    }

    .row,.title{
        margin-top: 40px;
        justify-content: space-between;
    }
    
    .badge,.review{
        font-size: 16px;
    }

    span, .stars, .price{
        color: #eb1d4b;
    }

    .place{
        color: #454545;
        font-size: 15px;
        margin: -8px 0px;
    }

    .btn{
        margin-top: -7px;
    }

    @media(max-width: 1150px) {
        .transparent-bg {
            height: 50vh;
        }

        .row{
            justify-content: space-around;
        }

    }

    @media(max-width: 550px) {
        .transparent-bg {
            height: 40vh;
        }

        h3{
            font-size: 22px;
        }

        .description,.badge,.review,.btn{
            font-size: 14px;
        }

        h4,.card-title,.price{
            font-size: 18px;
        }

        p,h6{
            font-size: 14px;
        }
        
    }


</style>

<div class="container-fluid transparent-bg"></div>

<div class="container">
    <h3 class="title">Best Bridal Makeup Artists</h3>
    <h6 class="description my-2 text-secondary">See list of Best Bridal Makeup Artists in all Indian cities Find premium and budget makeup artists, AirBrush bridal makeup artists. Get full quotations from Bridal Makeup Artists in all Indian cities for your requirements, see Portfolio, Reviews, Photos on  HappyWedding.</h6>
    <div class="row">
        {% for i in mak %}
            <div class="event-card">
                <div class="card">
                    <img src="{{i.img.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}} <span class="badge bg-danger position-absolute end-0 me-2">{{i.rate}}</span></h5>
                        <p class="stars fs-5">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="review text-secondary position-absolute end-0 me-2"> ({{i.review}} reviews)</span></p>
                        <p class="place"><i class="fa-solid fa-location-dot"></i> {{i.place}}</p>
                        <h5 class="card-text price mt-3">₹{{i.price}}<a href="{% url 'mak' %}" class="btn bg-danger text-light position-absolute end-0 me-2">View Deal</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mb-5">
    <h3 class="text-center">Best Bridal Makeup Artists</h3>
    <p class="my-4">You must look your gorgeous-best on the happiest day of your life- The best bridal makeup artists in all Indian cities turn your dream bridal look into reality. Below is the list of makeup artists along with the pictures of their work and reviews, check them out! Both luxurious and pocket-friendly ones are listed in categories like bridal makeup, airbrush makeup and pre-bridal skin care etc. Contact the artists directly or request a callback from us.</p>

    <h4>Hire the Best Bridal Makeup Artists @ Happy Wedding</h4>
    <p class="my-4"><span>Happy Wedding</span> is India's most trusted online wedding planning platform and we help you find the best <span>bridal makeup</span> artists, wedding venues, decorators, and all other wedding related services at the best price.</p>

    <h4>Types of Service Offered By Bridal Makeup Artists</h4>
    <p class="my-4"> In this latest makeup style, the airbrush gun technique and water or silicone-based airbrush foundation is used. This is very thin and lightweight and gives a natural even result. This polished base ensures that the bride looks stunning on her big day.</p>
    <p class="my-4"> <span>Airbrush Makeup</span> - In this latest makeup style, the airbrush gun technique and water or silicone-based airbrush foundation is used. This is very thin and lightweight and gives a natural even result. This polished base ensures that the bride looks stunning on her big day.</p>
    <p class="my-4"> <span>Regular Makeup</span> - This is the regular makeup style that we do at home using various makeup items, brushes and sponge, etc. If you compare this with airbrush makeup, it surely has a thicker foundation base and the end result depends on the expertise of the artist.</p>
    <p class="my-4"> <span>Guest Makeup</span> - Usually traditional style of makeup is done for bridesmaids, family members, and relatives. You can check if the hair styling and draping would be included in the package or extra.</p>

    <h4 class="mb-4">Other Wedding Services We Provide</h4>
    <h6><span>Wedding Photographers:</span> Capture the event without missing any precious moment.</h6>
    <h6><span>Bridal Designers:</span>  Design your trousseau as per the latest fashion trends.</h6>
    <h6><span>Choreographers:</span> Learn some new moves for your wedding.</h6>
    <h6><span>Wedding Videographers:</span> Today wedding videos beat Bollywood movies.</h6>
    <h6><span>Mehndi Artists:</span> What's a bride without some gorgeous mehendi?</h6>
    <h6><span>Wedding Decorators:</span> Choose modern or traditional, let every corner look fabulous.</h6>
    <h6><span>Wedding Invitations:</span> The invitation for the big day has to be special.</h6>
    <h6><span>Wedding Planners:</span> Leave the planning to the experts in the field.</h6>
    <h6><span>Wedding Venues:</span> Choose the venue that best suits you.</h6>
</div>

{% endblock %}