{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .transparent-bg {
        background-image: url("{% static 'Categories/photographer.jpeg' %}");
        background-size: cover;
        width: 96%;
        height:88vh;
        background-position: center;
    }

    .row,.title{
        margin-top: 40px;
        justify-content: space-between;
    }
    
    .badge,.review{
        font-size: 16px;
    }

    span, .stars, .price{
        color: #eb1d4b;
    }

    .place{
        color: #454545;
        font-size: 15px;
        margin: -8px 0px;
    }

    .btn{
        margin-top: -7px;
    }

    @media(max-width: 1150px) {
        .transparent-bg {
            height: 50vh;
        }

        .row{
            justify-content: space-around;
        }

    }

    @media(max-width: 550px) {
        .transparent-bg {
            height: 40vh;
        }

        h3{
            font-size: 22px;
        }

        .description,.badge,.review,.btn{
            font-size: 14px;
        }

        h4,.card-title,.price{
            font-size: 18px;
        }

        p,h6{
            font-size: 14px;
        }
        
    }

</style>

<div class="container-fluid transparent-bg"></div>

<div class="container">
    <h3 class="title">Best Wedding Photographers</h3>
    <h6 class="description my-3 text-secondary">See list of Best Wedding Photographers in all Indian cities Find premium and budget candid photographers, pre wedding photographers. Get full quotations from wedding photographers in all Indian cities for your requirements and see Portfolio, Reviews, Photos on HappyWedding.</h6>
    <div class="row">
        {% for i in pho %}
            <div class="event-card">
                <div class="card">
                    <img src="{{i.img.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}} <span class="badge bg-danger position-absolute end-0 me-2">{{i.rate}}</span></h5>
                        <p class="stars fs-5">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="review text-secondary position-absolute end-0 me-2"> ({{i.review}} reviews)</span></p>
                        <p class="place"><i class="fa-solid fa-location-dot"></i> {{i.place}}</p>
                        <h5 class="card-text price mt-3">₹{{i.price}}<a href="{% url 'pho' %}" class="btn bg-danger text-light position-absolute end-0 me-2">View Deal</a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mb-5">
    <h3 class="text-center">Best Wedding Photographers</h3>
    <p class="my-4">The biggest day of your life deserves to be captured by the most talented ones. Find the list of wedding photographers in all Indian cities. Both premium and budget photographers are listed in all categories including traditional, candid, drone & pre-wedding photography. Browse through their photos and reviews and contact them directly or simply request for a callback from us</p>

    <h4>Book Best Wedding Photographers @ Happy Wedding</h4>
    <p class="my-4">Wedding photography is not just clicking and show. It is much more than that. It captures the biggest event of your life and preserves wonderful memories of the moments you would always want to go back to and cherish. At HappyWedding, we have a list of <span>proficient best wedding photographers and videographers</span>  who know exactly how to capture each moment of your wedding day that will make you fall in love all over again.</p>

    <h4>Types of wedding photography</h4>
    <p class="my-4"> <span>Traditional Photography</span> - Traditional photographers usually aim for posed portraits with the usual poses. This is the age-old “Look Here, Smile Please” photography where the photographer will ask guests and family members to pose for a picture. Since such photographs don’t need creative skills, it comes for a lesser price.</p>
    <p class="my-4"> <span>Traditional Videography</span> - This old style videography records the entire wedding event in a 2-3 hours video. It is like a video documentary of the wedding. It is cheap with no creativity involved, as such.</p>
    <p class="my-4"> <span>Cinematic Videography</span> - The difference between wedding videography and wedding cinematography is the same as the one between a home video and a movie. In wedding videography, storytelling technique and creativity are used to capture the event and the basic concept is the same as candid photography. Everything is covered in a 20-40 minute video.</p>
    <p class="my-4"> <span>Pre-wedding photo & video shoot</span> - Pre-wedding shoots have become a rage now and every couple who is getting married these days is going for it. The video is all about the beautiful emotion of love where the couple is shot romancing each other in a gorgeous outdoor location. Take a look at the best wedding photographers in your city.</p>
    
    
    <h4 class="mb-4">Other Wedding Services We Provide</h4>
    <h6><span>Wedding Photographers:</span> Capture the event without missing any precious moment.</h6>
    <h6><span>Bridal Designers:</span>  Design your trousseau as per the latest fashion trends.</h6>
    <h6><span>Choreographers:</span> Learn some new moves for your wedding.</h6>
    <h6><span>Wedding Videographers:</span> Today wedding videos beat Bollywood movies.</h6>
    <h6><span>Mehndi Artists:</span> What's a bride without some gorgeous mehendi?</h6>
    <h6><span>Wedding Decorators:</span> Choose modern or traditional, let every corner look fabulous.</h6>
    <h6><span>Wedding Invitations:</span> The invitation for the big day has to be special.</h6>
    <h6><span>Wedding Planners:</span> Leave the planning to the experts in the field.</h6>
    <h6><span>Wedding Venues:</span> Choose the venue that best suits you.</h6>
</div>

{% endblock %}