{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .singup-container {
        background-image: url("{% static 'Categories/hero.jpeg' %}");
        background-size: cover;
        background-position: center;
        margin-top: 78px;
        min-height: 90vh;
        padding: 60px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .singup-box {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 8px;
        max-width: 400px;
        width: 100%;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
        margin-bottom: 20px;
        color: #000;
        font-size: 24px;
        font-weight: bold;
    }

    .input-group {
        margin-bottom: 20px;
    }

    .input-group input {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
    }

    .input-group input:focus{
        border-color: #eb1d4b;
    }

    .btn {
        padding: 10px;
        border: none;
        background-color: #eb1d4b;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .login-text {
        font-size: 14px;
    }

    .login-link {
        color: #eb1d4b;
        text-decoration: none;
    }

    @media (max-width: 1030px) {
        .singup-container {
            margin-top: 68px;
            min-height: 72vh;
        }
    }

    @media (max-width: 768px) {
        .singup-container {
            margin-top: 68px;
            min-height: 72vh;
        }

        .singup-box {
            padding: 20px;
        }

        h2 {
            font-size: 20px;
        }

        .btn {
            font-size: 14px;
        }
    }
    
    @media (max-width: 480px) {
        .singup-container {
            margin-top: 64px;
            min-height: 93vh;
        }
    }
    
</style>


<div class="singup-container">
    <div class="singup-box">
        <h2>Signup</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-group">
                <input type="email" aria-describedby="emailHelp" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Create a password" required>
            </div>
            <div class="input-group">
                <input type="password" name="confirmpassword" placeholder="Confirm your password" required>
            </div>
            <button type="submit" class="btn bg-danger text-light">Signup</button>
            <h5 class="login-text">Already have an account? <a href="{% url 'log' %}" class="login-link">Login</a></h5>
        </form>
    </div>
</div>


{% for message in messages %}
<script>
    alert('{{message}}');
</script>
{% endfor %}


{% endblock %}